<input id="search" type="text" placeholder="Search">
<button id="btnSearch">Search</button>
<br />
<span id="didyoumean"></span>

<form id="result">
  <div class="container">
    {{#each beerData}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        <h1 class="beerName">{{this.dataValues.beer_name}}</h1>
        <p class="beerData">Brewery: {{this.dataValues.brewery_name}}</p>
        <p class="beerData">Style:{{this.dataValues.beer_style}}</p>
        <p class="beerData">Alcohol Content:{{this.dataValues.alcohol_content}}</p>
        <p class="beerData">Malt Type:{{this.dataValues.malt_type}}</p>
        <p class="beerData">Hop Type:{{this.dataValues.hop_type}}</p>
        <p class="beerData">Beer Taste:{{this.dataValues.beer_taste}}</p>
        <p class="beerData">Pairing:{{this.dataValues.beer_pairing}}</p>
        <p class="beerData">Price:{{this.dataValues.beer_price}}</p>
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</form>
<br>

<form>
  <div class="form-group">
    <label for="beerName" class="beerName">Beer Name</label>
    <input type="beer" class="form-control beerName" id="beerExample" aria-describedby="beerHelp" placeholder="Enter beerName">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary create-btn">Submit</button>
</form>
