<input id="search" type="text" placeholder="search..." class="search">
<button id="btnSearch" class="searchbtn">Search!</button>
<br />
<span id="didyoumean"></span>

<form id="result">
  <div class="container">
    {{#each beerData}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        <h1 class="beerName">{{this.dataValues.beer_name}}</h1>
        <ul>
        <li class="beerData">Brewery: {{this.dataValues.brewery_name}}</li>
        <li class="beerData">Style: {{this.dataValues.beer_style}}</li>
        <li class="beerData">Alcohol Content: {{this.dataValues.alcohol_content}}</li>
        <li class="beerData">Malt Type: {{this.dataValues.malt_type}}</li>
        <li class="beerData">Hop Type: {{this.dataValues.hop_type}}</li>
        <li class="beerData">Beer Taste: {{this.dataValues.beer_taste}}</li>
        <li class="beerData">Pairing:{ {this.dataValues.beer_pairing}}</li>
        <li class="beerData">Price: {{this.dataValues.beer_price}}</li>
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</form>
<br>

<hr>

<center>
<form>
  <div class="form-style">
  <div class="form-group">
    <label for="beerName" class="beerName-form">Beer Name</label><br>
    <input type="beer" class="form-control beerName" id="beerExample" aria-describedby="beerHelp" placeholder="Enter beerName"><br>
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary create-btn">Submit</button>
  </div>
</form>
</center>
