
<input  id="search"  type="text"  placeholder="Search">
<button  id="btnSearch">Search</button>
<br/>
<span  id="didyoumean"></span> 


  <form id="result">
    <form id="result">
  
    <div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap"><br>
        <div class="card-body">
          <h5 class="card-title">Yoga Pants</h5>
          <p class="card-text">
            <ul>
            {{beerData.[0].dataValues.brewery_name}}
            {{beerData.[0].dataValues.beer_name}}
            {{beerData.[0].dataValues.beer_style}}
            {{beerData.[0].dataValues.alcohol_content}}
            {{beerData.[0].dataValues.malt_type}}
            {{beerData.[0].dataValues.hop_type}}
            {{beerData.[0].dataValues.beer_taste}}
            {{beerData.[0].dataValues.beer_pairing}}
            {{beerData.[0].dataValues.beer_price}}
            
            {{!-- Malts: Pilsner, Wheat<br>
            Hops: Mosaic, Nelson Sauvin, Idaho 7<br>
            Taste: Not to bitter, sophisticated malt profile and brazen hoppiness<br>
            Pairing: Pairs with Chicken Sandwiches or Stuffed Mushrooms<br>
            Style: Southern-Style Pale Ale --}}
            
            </ul>
            </p>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
        
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Wacky Wit</h5>
          <p class="card-text">
            Style: Belgian-Style Wheat Ale<br>
            Malts: Pilsner, Wheat<br>
            Hops: Czech Saaz<br>
            Taste: Light and exotic, wheat ale spice with Curacao bitter orange peel, coriander seed and chamomile<br>
            Pairing: Pairs with Shrimp dishes or Chocolate Moose Cake</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 4.1%ABV</li>
          <li class="list-group-item">Price: $7.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Swamp Fox</h5>
          <p class="card-text">
            Style: American-Style IPA<br>
            Malts: Irish 2-Row<br>
            Hops: Centennial, Citra, and Chinook<br>
            Taste: Assertively bitter and floral, citrus, aroma<br>
            Pairing: Pairs with Buffalo wings or Creole dishes with chicken and sausage
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 7.0%ABV</li>
          <li class="list-group-item">Price: $7.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The Captain's Porter</h5>
          <p class="card-text">
            Style: Robust Porter<br>
            Malts: Irish 2-Row, CaraMalt, Pale Chocolate<br>
            Hops: Mt. Hood<br>
            Taste: Full bodied, semi-sweet dark ale with hints of caramel and chocolate<br>
            Pairing: Pairs with Pork Shoulder or Baby Back Ribs
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 6.0%ABV</li>
          <li class="list-group-item">Price: $7.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Depravity or Divinity</h5>
          <p class="card-text">
            Style: Abbey-Style Dubbel<br>
            Malts: Pilsner<br>
            Hops: Czech Saaz<br>
            Taste: Lightly sweetened and subtle with hints of raisin, plum, soft caramel, vanilla, and fruity yeast esters<br>
            Pairing: Pairs with Filet Mignon<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 7.8%ABV</li>
          <li class="list-group-item">Price: $9.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">What The Fizz?</h5>
          <p class="card-text">
            Style: Hard Seltzer<br>
            Malts: null<br>
            Hops: null<br>
            Taste:  Peach and raspberry fruit loaded with flavor<br>
            Pairing: Pairs with any dish<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 5.5%ABV</li>
          <li class="list-group-item">Price: $6.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fizzics</h5>
          <p class="card-text">
            Style: Hard Seltzer<br>
            Malts: null<br>
            Hops: null<br>
            Taste: Refreshing with hints of Meyers lemon and marshmallow<br>
            Pairing: Pairs with any dish<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 5.0%ABV</li>
          <li class="list-group-item">Price: $5.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Filling in the Blancs</h5>
          <p class="card-text">
            Style: Czech-Style<br>
            Malts: Pilsner<br>
            Hops: Mandarina Bavaria, CTZ, Hallertau Blanc<br>
            Taste: Crisp with citrus and herbal aroma<br>
            Pairing: Pairs with any dish<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 4.9%ABV</li>
          <li class="list-group-item">Price: $5.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lovin' the Dream</h5>
          <p class="card-text">
            Style: American-Style IPA<br>
            Malts: null<br>
            Hops: Simcoe, Centennial, Cascade<br>
            Taste: Lingering subtle bitterness<br>
            Pairing: Pairs with Wings or Burgers<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 5.9%ABV</li>
          <li class="list-group-item">Price: $6.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pacific Thunder</h5>
          <p class="card-text">
            Style: New England-Style IPA<br>
            Malts: null<br>
            Hops: Citra, Strata, Nelson<br>
            Taste: Piney bitterness with fruitiness<br>
            Pairing: Pairs with Wings<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 6.8%ABV</li>
          <li class="list-group-item">Price: $7.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Long Night</h5>
          <p class="card-text">
            Style: Spiced Winter-Style Ale<br>
            Malts: Irish IPA CaraMalt, Special Roast<br>
            Hops: Cascade<br>
            Taste: Lightly sweetened and subtle bitterness <br>
            Pairing: Pairs with Stuffed Mushrooms or Desserts<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 6.9%ABV</li>
          <li class="list-group-item">Price: $8.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dixie Kristal</h5>
          <p class="card-text">
            Style: Belgian-Style Tripel<br>
            Malts: German Pilsner<br>
            Hops: Czech Saaz<br>
            Taste: Subtle spice and yeast with fruit aroma<br>
            Pairing: Pairs with Creole Chicken and Sausage dishes or Filet Mignon<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 9.3%ABV</li>
          <li class="list-group-item">Price: $8.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Thoughts and Prayers</h5>
          <p class="card-text">
            Style: Wild Abbey-Style Ale<br>
            Malts: Pilsner, Special B, CaraRed<br>
            Hops: Czech Saaz<br>
            Taste: Lightly acidic blend with wild aromatics<br>
            Pairing: Pairs with Dips and Appetizers<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 8.0%ABV</li>
          <li class="list-group-item">Price: $8.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cellar Dweller</h5>
          <p class="card-text">
            Style: Barrel-Age Imperial Amber Stout-Style<br>
            Malts: Pale 2-Row, Wheat, Golden Oats, Crystal<br>
            Hops: Warrior<br>
            Taste: Smooth malt with rich coffee and dark chocolate<br>
            Pairing: Pairs with Baby Back Ribs<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 10.0%ABV</li>
          <li class="list-group-item">Price: $10.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/moonRiver.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">O, Tannenbaum!</h5>
          <p class="card-text">
            Style: American-Style IPA<br>
            Malts: Irish IPA, Munich<br>
            Hops: Chinook, Simcoe<br>
            Taste: Festively fermented piney aroma<br>
            Pairing: Pairs Creole dishes with chicken and sausage<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 6.8%ABV</li>
          <li class="list-group-item">Price: $9.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.moonriverbrewing.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.moonriverbrewing.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Strange Clouds</h5>
          <p class="card-text">
            Style: New England-Style IPA<br>
            Malts: null<br>
            Hops: Mosaic, El Dorado<br>
            Taste: Dank with notes of citrus <br>
            Pairing: Pairs with Chicken Sandwiches or Stuffed Mushrooms<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 7.1%ABV</li>
          <li class="list-group-item">Price: $6.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hive Fives</h5>
          <p class="card-text">
            Style: New England-Style Pale Ale<br>
            Malts: null<br>
            Hops: Citra, Azacca<br>
            Taste: Citrusy with subtle sweetness<br>
            Pairing: Pairs with Wings and Chicken dishes<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 5.5%ABV</li>
          <li class="list-group-item">Price: $6.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/legion.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Penguin Pils</h5>
          <p class="card-text">
            Style: American-Style<br>
            Malts: Carolina Pilsner<br>
            Hops: Saaz<br>
            Taste: Mild floral aroma<br>
            Pairing: Pairs with Salmon and Tuna <br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 4.8%ABV</li>
          <li class="list-group-item">Price: $8.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.legionbrewing.com/" class="card-link">Link to brewery</a><br>
          <a href="https://www.legionbrewing.com/orderonline" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Global Happiness</h5>
          <p class="card-text">
            Style: Coffee Brown-Style Ale<br>
            Alcohol Content: 4.8%ABV<br>
            Malts: null<br>
            Hops: null<br>
            Taste: Blended coffee and beer<br>
            Pairing: Pairs with Roasted Pork and Smoked Sausage<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 4.8%ABV</li>
          <li class="list-group-item">Price: $6.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/heist.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tu Bock's Back</h5>
          <p class="card-text">
            Style: Dunkelweizen-Style<br>
            Malts: null<br>
            Hops: null<br>
            Taste: Boldly sweetened with toffee and caramelized banana<br>
            Pairing: Pairs with Dishes that have Savory Sauces<br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Alcohol Content: 8.7%ABV</li>
          <li class="list-group-item">Price: $7.00 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.heistbrewery.com" class="card-link">Link to brewery</a><br>
          <a href="https://www.heistbrewery.com/beer" class="card-link">Link to beer</a>
        </div>
      </div>
    </div>
</form>



